:root {
    --black: #000000;
    --grey: #808080;
    --light-grey: #dfdfdf;
    --white: #FFFFFF;
    --red: #FF0000;
    --orange: #FF9900;
    --yellow: #FFFF00;
    --green: #008000;
    --blue: #0000FF;
    --indigo: #4B0082;
    --violet: #8F00FF;
    --cyan: #00FFFF;
    --lime: #32CD32;

    --max-width: 1000px;

    --spacing5: 5px;
    --spacing10: 10px;
    --spacing15: 15px;
    --spacing20: 20px;
    --spacing30: 30px;
    --spacing40: 40px;
    --spacing50: 50px;
}


* {
    margin: 0;
    box-sizing: border-box;
}

#logo {
    background: var(--grey);
}

#show-nav-button {
    background: var(--lime);
    cursor: pointer;
}

#hide-nav-button {
    background: var(--red);
    cursor: pointer;
}

nav {
    background: var(--orange);
}

#menu {
    background: var(--cyan);
}

#sign-up-link {
    background: var(--violet)
}

#log-in-link {
    background: var(--green);
}

#log-out-button {
    background: var(--red);
    cursor: pointer;
}

footer {
    background: var(--grey);
}
