:root {
    --black: #000000;
    --grey: #808080;
    --light-grey: #dfdfdf;
    --white: #FFFFFF;
    --red: #FF0000;
    --orange: #FF9900;
    --yellow: #FFFF00;
    --green: #008000;
    --blue: #0000FF;
    --indigo: #4B0082;
    --violet: #8F00FF;
    --cyan: #00FFFF;
    --lime: #32CD32;

    --max-width: 1000px;

    --spacing5: 5px;
    --spacing10: 10px;
    --spacing15: 15px;
    --spacing20: 20px;
    --spacing30: 30px;
    --spacing40: 40px;
    --spacing50: 50px;
}

.error {
    color: var(--red);
}

.success {
    color: var(--lime);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

img {
    width: 100%;
}

#logo-show-nav-button-and-nav {
    background: var(--light-grey);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

#logo {
    background: var(--grey);
    font-size: 2rem;
}

#show-nav-button {
    background: var(--lime);
    cursor: pointer;
    font-size: 2rem;
}

#hide-nav-button {
    background: var(--red);
    cursor: pointer;
}

nav {
    background: var(--orange);
    position: fixed;
    display: grid;
    width: 100%;
    height: 100%;
    align-content: start;
    text-align: right;
    transition: left 0.2s;
}

.load-more-button {
    background: var(--lime);
    padding: var(--spacing20) var(--spacing30);
    border-radius: 10rem;
    cursor: pointer;
    font-weight: bold;
}

#sign-up-link {
    background: var(--violet)
}

#log-in-link {
    background: var(--green);
}

#log-out-button {
    background: var(--red);
    cursor: pointer;
}

.post-card-container {
    display: grid;
    gap: var(--spacing20);
}

.post-card {
    background: var(--orange);
}

.post-card img {
    border: 1px solid black;
    max-width: 50px;
}

footer {
    background: var(--grey);
}

@media only screen and (min-width: 600px) {
    #show-nav-button,
    #hide-nav-button,
    #nav-link-home,
    #nav-link-about,
    #nav-link-contact,
    #nav-link-terms-and-conditions,
    #nav-link-privacy-policy,
    #nav-link-disclaimer {
        display: none;
    }

    nav {
        position: initial;
        display: flex;
        flex-wrap: wrap;
        width: initial;
        height: initial;
        align-content: initial;
        text-align: initial;
    }
}
