:root {
    --black: #000000;
    --grey: #808080;
    --light-grey: #dfdfdf;
    --white: #FFFFFF;
    --red: #FF0000;
    --orange: #FF9900;
    --yellow: #FFFF00;
    --green: #008000;
    --blue: #0000FF;
    --indigo: #4B0082;
    --violet: #8F00FF;
    --cyan: #00FFFF;
    --lime: #32CD32;

    --night: #0C0F0A;
    --rose: #FF206E;
    --yellow: #FBFF12;
    --turquoise: #41EAD4;
    --white: #FFFFFF;
    --silver: #C3C3C2;
    --battlship-gray: #868785;
    --outer-space: #494B48;
    --jet: #2B2D29;

    --max-width: 1000px;
    
    --left-and-right-padding: 20px;
    --main-padding: 20px;
    --main-spacing-between-elements: 20px;

    --gap-between-cards: 30px;

    --gap-between-form-elements: 20px;
    --gap-between-input-elements: 10px;

    --profile-image-max-dimensions: 200px;
    --post-and-comment-card-avatar-image-dimensions: 40px;
}

@font-face {
    font-family: Quicksand;
    src: url("../src/assets/fonts/Quicksand-VariableFont_wght.ttf");
}

input,
textarea {
    font-family: Quicksand;
}

* {
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
}

body {
    margin: 0;
    background: var(--night);
    color: var(--white);
    font-family: Quicksand;
}

h1 {
    font-size: 2.2rem;
}

p,
ul,
ol {
    font-size: 1.1rem;
    line-height: 1.7rem;
}

p a:link,
p a:active,
p a:visited {
    color: var(--rose);
}

button {
    background: var(--white);
    color: var(--night);
    border: 0;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
}

header {
    padding: var(--left-and-right-padding);
    display: grid;
    gap: 10px;
}

main {
    background: var(--night);
    padding: var(--left-and-right-padding);
}

#home main,
#post main {
    display: grid;
    gap: var(--main-spacing-between-elements);
}

.max-width {
    max-width: 1000px;
    margin: auto;
}

img {
    width: 100%;
    display: block;
}

.error {
    color: var(--rose);
}

.success {
    color: var(--lime);
}

.warning {
    color: var(--orange);
}

textarea {
    width: 100%;
    min-height: 50px;
    resize: none;
    overflow-y: hidden;
    line-height: 1.2rem;
}

#logo-show-nav-button-and-nav,
header,
main,
footer {
    max-width: var(--max-width);
    margin: auto;
}

#logo-show-nav-button-and-nav {
    background: var(--night);
    padding: 0px var(--left-and-right-padding) 0px var(--left-and-right-padding);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1;
}

#logo {
    font-size: 1.5rem;
    /* font-weight: bold; */
    display: grid;
    align-content: center;
    padding: 10px 0px 10px 0px;
}

#logo:link,
#logo:active,
#logo:visited {
    color: var(--white);
}

#logo:hover {
    color: var(--white);
}

#show-nav-button {
    cursor: pointer;
    font-size: 2rem;
    display: grid;
    align-content: center;
}

#hide-nav-button {
    cursor: pointer;
    font-size: 1.3rem;
}

nav {
    background: var(--jet);
    color: var(--white);
    position: fixed;
    display: grid;
    gap: 20px;
    width: 100%;
    height: 100%;
    align-content: start;
    text-align: right;
    padding: var(--left-and-right-padding);
    transition: left 0.2s;
}

nav a:link,
nav a:active,
nav a:visited {
    color: var(--white);
}

nav a:hover {
    text-decoration: underline;
}

.load-more-button {
    background: var(--rose);
    padding: 15px 30px;
    border-radius: 10rem;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}


#log-out-button {
    color: var(--white);
    cursor: pointer;
}

#log-out-button:hover {
    text-decoration: underline;
}

select,
input,
textarea {
    padding: 10px;
}

#sign-up form,
#log-in form {
    display: grid;
    gap: 20px;
}

.log-in-input-and-error-message,
.sign-up-input-and-error-message {
    display: grid;
    gap: 10px;
}

#username-input,
#password-input,
#image-input {
    display: grid;
    gap: 10px;
}

#create-post-form {
    display: grid;
    gap: 40px;
}

#duplicate-options-entered-message {
    background: var(--rose);
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 30px;
    text-align: center;
    font-weight: bold;
    transition: bottom 0.2s;
}

#title-input,
#description-input,
#categories-input {
    display: grid;
    gap: var(--gap-between-input-elements);
}

.post-cards,
.comments {
    display: grid;
    gap: var(--gap-between-cards);
}

.post-card,
.comment-card {
    display: grid;
    gap: 10px;
}

.post-card {
    background: var(--jet);
    padding: 15px;
}

.post-card:link,
.post-card:active,
.post-card:visited {
    color: var(--white);
}

.post-card-avatar-username {
    display: flex;
    flex-wrap: flex;
    align-items: center;
    gap: 10px;
}

.post-card img,
.comment-card img {
    width: var(--post-and-comment-card-avatar-image-dimensions);
    height: var(--post-and-comment-card-avatar-image-dimensions);
    object-fit: cover;
    border-radius: 50%;
}

.comment-card-post-title-link:link,
.comment-card-post-title-link:active,
.comment-card-post-title-link:visited {
    color: var(--white);
}

.comment-card-post-title-link:hover {
    text-decoration: underline;
}

.post-card-category-votes-date,
.comment-card-like-button-likes-date {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    color: var(--battlship-gray);
    font-size: 0.9rem;
}

#comment-card-edit-and-delete-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.post-section-main {
    display: grid;
    gap: 15px;
}

.post-avatar-username-options-button {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.post-avatar-username {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    font-size: 1.5rem;
}

.post-avatar-username a:link,
.post-avatar-username a:active,
.post-avatar-username a:visited {
    color: var(--white);
}

.post-avatar-username a:hover {
    text-decoration: underline;
}

.post-avatar {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.post-username:link,
.post-username:active,
.post-username:visited {
    color: var(--white);
}

#post-category,
#post-date {
    color: var(--battlship-gray);
}

#post-date {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

#post-options {
    background: var(--jet);
    display: grid;
    gap: 20px;
    padding: 20px;
}

.post-option {
    display: grid;
    gap: 7px;
}

.post-option-radio-input-label-view-image {
    display: grid;
    gap: 8px;
    align-items: end;
}

.post-option-radio-input-label {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
}

.post-option-label {
    font-weight: bold;
    font-size: 1.2rem;
}

.post-option-votes-and-percentage {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.post-option-percentage-bar {
    background: var(--rose);
}

.post-option-percentage-bar > span {
    opacity: 0;
}

.view-option-image-button {
    cursor: pointer;
    color: var(--battlship-gray);
}

#post-option-image {
    background: var(--night);
    color: var(--white);
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    cursor: pointer;
    z-index: 2;
}

#post-option-image img {
    max-height: 75%;
    object-fit: contain;
    position: fixed;
}

#post-option-image div {
    position: fixed;
    top: 80%;
    left: 50%;
}

#post-options-form {
    display: grid;
    gap: 20px;
}

#post-log-in-link:link,
#post-log-in-link:active,
#post-log-in-link:visited {
    color: var(--rose);
}

#post-log-in-link:hover {
    text-decoration: underline;
}

#already-voted-message-display-votes-button {
    display: grid;
    gap: 20px;
}

#display-votes-and-vote-button {
    display: flex;
    gap: 20px;
}

#post-section-post-comment {
    display: grid;
    gap: 10px;
}

#post-comment-input-and-post-a-comment-button {
    display: grid;
    gap: 10px;
}

.comment-card-avatar-username-options-button {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.comment-card-avatar-username {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.comment-card-avatar-username a:link,
.comment-card-avatar-username a:active,
.comment-card-avatar-username a:visited {
    color: var(--white);
}

.comment-card-avatar-username:hover {
    text-decoration: underline;
}

#post-options-button,
.comment-card-options-button {
    display: grid;
    gap: 3px;
    cursor: pointer;
    align-content: center;
    padding: 0px 10px;
}

#post-options-button > div,
.comment-card-options-button > div {
    background: var(--white);
    width: 4px;
    height: 4px;
    border-radius: 50%;
}

#comment-input {
    display: grid;
    gap: 10px;
}

.comment-card-like-button-likes-date {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.comment-card-like-button-likes {
    display: flex;
    flex-wrap: wrap;
}

#comment-card-input-and-buttons {
    display: grid;
    gap: 10px;
}

#comment-card-cancel-and-update-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#comment-card-delete-comment-confirmation-message {
    display: grid;
    gap: 10px;
}

#comment-card-delete-comment-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.like-button {
    background: var(--night);
    border: 0;
    cursor: pointer;
    padding: 0 5px 0 0;
}

#edit-post {
    background: var(--jet);
    position: fixed;
    left: 0;
    z-index: 2;
    top: 0%;
    width: 100%;
    height: 100%;
    display: grid;
    gap: 20px;
    align-content: start;
    overflow: auto;
    padding: 20px;
}

#post-inputs,
#edit-post-inputs {
    display: grid;
    gap: 40px;
}

#title-input > label,
#categories-input > label,
#description-input > label,
.edit-post-option-label-input-and-lengths > label,
.edit-post-option-label-input-and-error-message > label {
    font-weight: bold;
}

#edit-post-options-and-images {
    display: grid;
    gap: 40px;
}

.edit-post-option-and-image {
    display: grid;
    gap: 10px
}

.edit-post-option-label-input-and-lengths,
.edit-post-option-label-input-and-error-message {
    display: grid;
    gap: 10px;
}

#title-input-length,
#description-input-length,
.edit-post-input-length,
#comment-input-lengths {
    color: var(--battlship-gray);
    font-size: 0.9rem;
}

#edit-post-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

#edit-and-delete-post-buttons-container,
#report-button-link-container,
#delete-post-message-container {
    background: var(--outer-space);
    position: fixed;
    width: 100%;
    left: 0;
    bottom: -100%;
    padding: 30px;
    align-content: end;
    cursor: pointer;
    font-weight: bold;
    text-align: right;
    transition: bottom 0.2s;
    display: grid;
    gap: 20px;
}

#report-button-link {
    display: inline-block;
}

#edit-and-delete-post-links-container {
    display: grid;
    gap: 20px;
}

#delete-post-message-container {
    display: grid;
    gap: 20px;
    justify-items: end;
}

#delete-post-buttons-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#profile header {
    padding: var(--left-and-right-padding) var(--left-and-right-padding) 0 var(--left-and-right-padding);
}

#profile-image {
    width: var(--profile-image-max-dimensions);
    height: var(--profile-image-max-dimensions);
    object-fit: cover;
    border-radius: 50%;
    margin: auto;
}

#profile h1 {
    text-align: center;
}

#profile-tabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 20px;
    font-weight: bold;
}

#profile-tab-account {
    display: grid;
    gap: 40px;
}

#profile-tab-account-avatar {
    display: grid;
    gap: 20px;
}

#profile-tab-account-avatar-container {
    display: grid;
    gap: 10px;
}

#profile-tab-account-password {
    display: grid;
    gap: 20px;
}

#profile-tab-account-password-inputs {
    display: grid;
    gap: 20px;
}

.profile-tab-account-password-input-and-error-message {
    display: grid;
    gap: 10px;
}

#profile-tab-account-delete-account-confirmation-message {
    display: grid;
    gap: 10px;
}

#profile-tab-account-delete-account-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#terms-and-conditions main,
#privacy-policy main,
#disclaimer main {
    display: grid;
    gap: 15px;
}

footer {
    padding: var(--left-and-right-padding);
    display: grid;
    gap: 20px;
}

#footer-links {
    display: grid;
    gap: 20px;
}

footer a:link,
footer a:active,
footer a:visited {
    color: var(--white);
}

footer a:hover {
    text-decoration: underline;
}

#copyright {
    color: var(--battlship-gray);
    font-size: 0.9rem;
    line-height: 1.5rem;
}

#account-created-message,
#account-not-created-message,
#logged-in-message,
#logged-out-message,
#vote-added-message,
#vote-not-added-message,
#post-created-message,
#post-not-created-message,
#post-updated-message,
#post-not-updated-message,
#comment-posted-message,
#comment-not-posted-message,
#comment-updated-message,
#comment-not-updated-message,
#comment-deleted-message,
#comment-not-deleted-message,
#post-deleted-message,
#post-not-deleted-message,
#avatar-updated-message,
#avatar-not-updated-message,
#password-updated-message,
#password-not-updated-message,
#account-deleted-message,
#account-not-deleted-message,
#report-sent-message,
#report-not-sent-message {
    position: fixed;
    bottom: -100%;
    left: 0%;
    width: 100%;
    height: 100px;
    display: grid;
    align-content: center;
    justify-content: center;
    font-weight: bold;
    transition: bottom 0.2s;
    z-index: 2;
}

#account-created-message,
#logged-in-message,
#logged-out-message,
#vote-added-message,
#post-created-message,
#post-updated-message,
#comment-posted-message,
#comment-updated-message,
#comment-deleted-message,
#post-deleted-message,
#avatar-updated-message,
#password-updated-message,
#account-deleted-message,
#report-sent-message {
    background: var(--lime);
}

#account-not-created-message,
#vote-not-added-message,
#post-not-created-message,
#post-not-updated-message,
#comment-not-posted-message,
#comment-not-updated-message,
#comment-not-deleted-message,
#post-not-deleted-message,
#avatar-not-updated-message,
#password-not-updated-message,
#account-not-deleted-message,
#report-not-sent-message {
    background: var(--red);
    color: var(--white);
}

#delete-comment-message {
    background: var(--orange);
}

@media only screen and (min-width: 600px) {
    #show-nav-button,
    #hide-nav-button,
    #nav-link-home,
    #nav-link-about,
    #nav-link-contact,
    #nav-link-terms-and-conditions,
    #nav-link-privacy-policy,
    #nav-link-disclaimer {
        display: none;
    }

    nav {
        background: initial;
        color: initial;
        position: initial;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: initial;
        height: initial;
        align-content: initial;
        text-align: initial;
        padding: initial;
    }

    #footer-links {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
}
